@page "/team"

<PageTitle>Team</PageTitle>

<h3>Team</h3>
<h2>Member Names and Roles</h2>

<h2>Project Manager:   Lucille Blain</h2>
<ul>
    <li>Monitors senior project portal for updates/notifications/etc. & informs team of changes</li>
    <li>Has knowledge of project architecture,domain, and tools & possible address conflicts with current plan</li>
    <li>Leading & organizing internal team meeting</li>
    <li>Collecting & organizing current metrics</li>
</ul>
<h2>Communication Lead: Xander Palmer</h2>
<ul>
    <li>Main contact for sponsor</li>
    <li>Has understanding of resource management</li>
    <li>Collaborate with other development teams provided by sponsor</li>
    <li>Delivers agenda and documents to sponsor</li>
    <li>Confirms meeting details between sponsor and team</li>
    <li>Measures metrics of communication</li>
    <li>Measure feature misinterpretations between sponsor and team</li>
    <li>Measure quality of discussions</li>
    <li>Measure health of line of communication</li>
    <li>Makes adjustments to team and sponsor communications when issues arise</li>
</ul>
<h2>Web Leads:  Jack Vander Linden, Sam Coniglio</h2>
<ul>
    <li>Management of team site</li>
    <li>Monitoring information that needs to be on the website</li>
    <li>Creating appropriate graphs/charts</li>
</ul>
<h2>Task Coordinator:  Erin Henderson</h2>
<ul>
    <li>Managing & monitoring tasks</li>
    <li>Ensuring project board is up to date</li>
    <li>Distributing/assigning tasks</li>
    <li>Measuring code quality, metrics</li>
    <li>Implementation conformity to user story description/requirements</li>
    <li>Bugs - severity ranking, other metrics (TBD)</li>
    <li>Team velocity</li>
    <li>Sorting tasks between sprint and backlog</li>
</ul>

@code {

}
